<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS TEST day4</title>
</head>
<body>
	<div ng-app="" ng-controller="costController">
		Quantity : <input type="number" ng-model="quantity">
		Price : <input type="number" ng-model="price" >
		
		<!-- add to Currency filter -->
		<p>Total = {{ (quantity * price) | currency }}</p>
	</div>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script type="text/javascript">
	function costController($scope){
		$scope.quantity = 1;
		$scope.price = 9.99;
	}
	</script>
</body>
</html>