<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>AngularJS TEST day3</title>
</head>
<body>
	<div ng-app="" ng-controller="personController">
		First Name : <input type="text" ng-model="person.firstName"/><br/>
		Last Name : <input type="text" ng-model="person.lastName"/><br/>
		<br/>
		Full Name : {{ person.firstName + " " + person.lastName }}<br/>
		Full Name : {{ person.fullName() }}<br/>
		Full Name : {{ fullName() }}<br/>
		<ul>
			<li ng-repeat="x in names">
				{{ x.name + ', ' + x.country }}
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script type="text/javascript">
	function personController($scope){
		$scope.person = {
			firstName : "John",
			lastName : "Doe",
			fullName : function(){
				var x;
				x = $scope.person;
				return x.firstName + " " + x.lastName;
			}
		};
		$scope.fullName = function(){
			var x;
			x = $scope.person;
			return x.firstName + " " + x.lastName;
		}
	}
	</script>
</body>
</html>